# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/shopping-cart-qraphql.iml
/.cache/90/46195a9a469f8530a767e84a859471.json
/dist/index.html
